<!DOCTYPE html>
<html>
  <head>
    <title>ast.ly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/stylesheet.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="title">ast.ly</div>

    <div class="form">
      <form>
      Link:  <input type="text" name="l">
      <input type="submit" value="Submit">
      </form>
    </div>

    <% if !params[:l].nil?  %>

      <%= "<a href=\"astly/l?l=#{@astlied}\">jefffowler.io/astly/l?l=#{ @astlied }</a>" %>

    <% end %>

  </body>
</html>
