<h1>rickast.ly</h1>

<form>
Link:  <input type="text" name="l">
<input type="submit" value="Submit">
</form>

<% if !params[:l].nil?  %>

<%= "<a href=\"/l?l=#{@astlied}\">54.186.136.235:3000/l?l=#{ @astlied }</a>" %>

<% end %>
